<div class="delete-account-pre-dialog">
	<table>
        <tbody>
            <tr class="e911-check">
                <td>
                    <span class="pre-dialog-loader"></span>
                    <div class="pre-dialog-check"></div>
                    <div class="pre-dialog-x"></div>
                </td>
                <td class="pre-dialog-message">
                    {{ i18n.deleteAccountPreDialog.e911Check1 }}
                </td>
            </tr>
            <tr class="numbers-check">
                <td>
                    <span class="pre-dialog-loader"></span>
                    <div class="pre-dialog-check"></div>
                    <div class="pre-dialog-x"></div>
                </td>
                <td class="pre-dialog-message">
                    {{ i18n.deleteAccountPreDialog.numbersCheck1 }}
                </td>
            </tr>
        </tbody>
    </table>
</div>